<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/reset.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>pokedex</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h2>WELCOME!</h2>

        <div class="main">
                <article class="card">
                    <img src="/images/pokemon-group.avif" alt="">
                    <div>
                        <h3>Visitor</h3>
                        <a href="/pokemon">See all Pokémon</a>
                    </div>
                </article>
                <article class="card">
                    <img src="/images/team2.webp" alt="">
                    <div>
                        <h3>Player</h3>
                        <a href="">Login</a>
                    </div>
                </article>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>