    <header>
        <div class="header">
            <h1>Pokédex <span>ポケモン図鑑</span></h1>
        </div>
        <!-- <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pokemon">Pokémon</a></li>
                <li><a href="/types">Types</a></li>
                <li><a href="/teams">Teams</a></li>
            </ul>
        </nav> -->
    </header>
