html, body {
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
}

body {
    display: flex;
    flex-direction: column;    
}

main {
    background-image: url("/images/grey-background.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #E3350D;
    padding: 0.2rem;
}

h1 {
    color: white;
}

span {
    font-size: 0.5em;
    color: black;
    font-weight: normal;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
}

.card {
    /* border: 1px solid black; */
    padding: 1rem;
    text-align: center;
    width: 300px;
    /* flex: 1 1 300px; */
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    /* border-color: #E3350D; */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #E3350D;
    padding: 0.1em;
    text-align: center;
}

@media (max-width: 650px) {
    .card {
        width: 100%;
    }
}