<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h1>Welcome!</h1>

        <div>
            <ul>
                <li>
                    <article>
                        <img src="" alt="">
                        <div>
                            <h2>Visitor</h2>
                            <a href="/pokemon">See all Pokémon</a>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="" alt="">
                        <div>
                            <h2>Player</h2>
                            <a href="">Login</a>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>